{% extends 'base.html' %}
{% block title %}Add Amiibo{% endblock %}
{% block content %}
<h1>Add a New Amiibo to your collection</h1>
<!-- Amiibo Form -->
<form method="POST">
  {% csrf_token %}
  {{ form.as_p }}
  <button type="submit">Add Amiibo</button>
</form>
<!-- Success Message -->
{% if success %}
<p><strong>Success!</strong> The Amiibo has been successfully added to your collection!</p>
<!-- Display Added amiibo -->
<h3>Amiibo Added</h3>
<p>
  <strong>Name:</strong> {{ added_amiibo.name }} <br />
  <strong>Series:</strong> {{ added_amiibo.series }} <br />
  <strong>Owned:</strong> {% if added_amiibo.is_owned %} Yes {% else %} No {% endif %} <br />
  <strong>Condition:</strong> {{ added_amiibo.condition_status }}
</p>
{% endif %}
{% endblock %}
