{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Welcome to the Amiibo collection!</title>
  </head>
  <body>
    <div>
      <h1>Here will be My Tech exersise submission</h1>
      <p>This application is for collectors of amiibos</p>
      <p>
        If you don't know what an amiibo is. A Amiibo is a collectable figureine
        of Nintedo character from all diffrent types of series
      </p>
      <p>its a very popular thing to collect so why not have an application to help people with their collections</p>
      <p>This application allows you to:</p>
      <ul>
        <li>Add new amiibos based on name, series, condtion, and owenership </li>
        <li>View a list of all the amiibos that you have put in your collection</li>
        <li>Search for specific amiibos using name, series, conditon, and ownership</li>
        <li>edit your collection list if things were to change in your collection</li>
      </ul>
      <p>Now it is time to get started. Click below:</p>
      <a href="{% url 'add_Amiibo' %}">Start here your collection awaits.</a>
    </div>
  </body>
</html>
